{clean_files, ["*.eunit", "ebin/*.beam"]}.
{erl_opts, [hipe, {i, "inc"}]}.
{sub_dirs, ["rel"]}.
{deps, [ 
	{poolboy,      ".*", {git, "git://github.com/devinus/poolboy.git", "master"}},
	{jiffy,        ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
	{erlydtl,      ".*", {git, "https://github.com/erlydtl/erlydtl.git", "master"}},
	{cowboy,       ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
	{lager,        ".*", {git, "git://github.com/basho/lager", {branch, "master"}}}
]}.
